.formulaire{

      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap:20px;

}

.input{
    width: 300px;
    height: 30px;
    padding-left:10px;
    border: 2px solid navy;
    border-radius: 10px;
}
.btn{
    color:red;
    font-weight: bold;
    font-size:14px;
    height: 30px;
    width: 100px;
    border: 2px solid navy;
    background-color: rgb(216, 216, 248);
}